# Data Cleaning
This section focuses on preparing the dataset by identifying and resolving issues such as missing values, inconsistent formats, duplicate records, and incorrect data types. The goal is to ensure the data is clean, reliable, and ready for further analysis.

In [86]:
import numpy as np
import pandas as pd
from datetime import datetime as dt, timedelta

pd.set_option('display.max_columns', None)

In [87]:
df = pd.read_csv('../data/raw/new_retail_data.csv')
df.head()

,Transaction_ID,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,Age,Gender,Income,Customer_Segment,Date,Year,Month,Time,Total_Purchases,Amount,Total_Amount,Product_Category,Product_Brand,Product_Type,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products
0,8691788.0,37249.0,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,21.0,Male,Low,Regular,9/18/2023,2023.0,September,22:03:55,3.0,108.028757,324.086270,Clothing,Nike,Shorts,Excellent,Same-Day,Debit Card,Shipped,5.0,Cycling shorts
1,2174773.0,69749.0,Kelsey Hill,Mark36@gmail.com,6.852900e+09,82072 Dawn Centers,Nottingham,England,99071.0,UK,19.0,Female,Low,Premium,12/31/2023,2023.0,December,8:42:04,2.0,403.353907,806.707815,Electronics,Samsung,Tablet,Excellent,Standard,Credit Card,Processing,4.0,Lenovo Tab
2,6679610.0,30192.0,Scott Jensen,Shane85@gmail.com,8.362160e+09,4133 Young Canyon,Geelong,New South Wales,75929.0,Australia,48.0,Male,Low,Regular,4/26/2023,2023.0,April,4:06:29,3.0,354.477600,1063.432799,Books,Penguin Books,Children's,Average,Same-Day,Credit Card,Processing,2.0,Sports equipment
3,7232460.0,62101.0,Joseph Miller,Mary34@gmail.com,2.776752e+09,8148 Thomas Creek Suite 100,Edmonton,Ontario,88420.0,Canada,56.0,Male,High,Premium,5/8/2023,2023.0,May,14:55:17,7.0,352.407717,2466.854021,Home Decor,Home Depot,Tools,Excellent,Standard,PayPal,Processing,4.0,Utility knife
4,4983775.0,27901.0,Debra Coleman,Charles30@gmail.com,9.098268e+09,5813 Lori Ports Suite 269,Bristol,England,48704.0,UK,22.0,Male,Low,Premium,1/10/2024,2024.0,January,16:54:07,2.0,124.276524,248.553049,Grocery,Nestle,Chocolate,Bad,Standard,Cash,Shipped,1.0,Chocolate cookies

In [88]:
df.tail()

,Transaction_ID,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,Age,Gender,Income,Customer_Segment,Date,Year,Month,Time,Total_Purchases,Amount,Total_Amount,Product_Category,Product_Brand,Product_Type,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products
302005,4246475.0,12104.0,Meagan Ellis,Courtney60@gmail.com,7.466354e+09,389 Todd Path Apt. 159,Townsville,New South Wales,4567.0,Australia,31.0,Male,Medium,Regular,1/20/2024,2024.0,January,23:40:29,5.0,194.792597,973.962984,Books,Penguin Books,Fiction,Bad,Same-Day,Cash,Processing,1.0,Historical fiction
302006,1197603.0,69772.0,Mathew Beck,Jennifer71@gmail.com,5.754305e+09,52809 Mark Forges,Hanover,Berlin,16852.0,Germany,35.0,Female,Low,New,12/28/2023,2023.0,December,2:55:45,1.0,285.137301,285.137301,Electronics,Apple,Laptop,Excellent,Same-Day,Cash,Processing,5.0,LG Gram
302007,7743242.0,28449.0,Daniel Lee,Christopher100@gmail.com,9.382530e+09,407 Aaron Crossing Suite 495,Brighton,England,88038.0,UK,41.0,Male,Low,Premium,2/27/2024,2024.0,February,2:43:49,3.0,60.701761,182.105285,Clothing,Adidas,Jacket,Average,Express,Cash,Shipped,2.0,Parka
302008,9301950.0,45477.0,Patrick Wilson,Rebecca65@gmail.com,9.373222e+09,3204 Baird Port,Halifax,Ontario,67608.0,Canada,41.0,Male,Medium,New,9/3/2023,2023.0,September,11:20:31,1.0,120.834784,120.834784,Home Decor,IKEA,Furniture,Good,Standard,Cash,Shipped,4.0,TV stand
302009,2882826.0,53626.0,Dustin Merritt,William14@gmail.com,9.518927e+09,143 Amanda Crescent,Tucson,West Virginia,25242.0,USA,28.0,Female,Low,Premium,1/8/2024,2024.0,January,11:44:36,7.0,340.319059,2382.233417,Home Decor,Home Depot,Decorations,Average,Same-Day,Cash,Shipped,2.0,Clocks

## Data Type Correction
Some columns may contain data stored in the wrong formatâ€”such as numbers stored as strings or dates not yet converted into datetime objects. These values are corrected to ensure accurate analysis and processing.

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302010 entries, 0 to 302009
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Transaction_ID    301677 non-null  float64
 1   Customer_ID       301702 non-null  float64
 2   Name              301628 non-null  object
 3   Email             301663 non-null  object
 4   Phone             301648 non-null  float64
 5   Address           301695 non-null  object
 6   City              301762 non-null  object
 7   State             301729 non-null  object
 8   Zipcode           301670 non-null  float64
 9   Country           301739 non-null  object
 10  Age               301837 non-null  float64
 11  Gender            301693 non-null  object
 12  Income            301720 non-null  object
 13  Customer_Segment  301795 non-null  object
 14  Date              301651 non-null  object
 15  Year              301660 non-null  float64
 16  Month             301737 non-null  object
 17  Time              301660 non-null  object
 18  Total_Purchases   301649 non-null  float64
 19  Amount            301653 non-null  float64
 20  Total_Amount      301660 non-null  float64
 21  Product_Category  301727 non-null  object
 22  Product_Brand     301729 non-null  object
 23  Product_Type      302010 non-null  object
 24  Feedback          301826 non-null  object
 25  Shipping_Method   301673 non-null  object
 26  Payment_Method    301713 non-null  object
 27  Order_Status      301775 non-null  object
 28  Ratings           301826 non-null  float64
 29  products          302010 non-null  object
dtypes: float64(10), object(20)
memory usage: 69.1+ MB

date : object -> datetime

## Checking Missing Values
Before performing any analysis, it is important to identify whether the dataset contains missing or null values. Missing data will be handled using methods such as imputation or row removal, depending on the context and the amount of missing information.

In [90]:
(df.isnull().sum()/len(df))*100

Transaction_ID      0.110261
Customer_ID         0.101983
Name                0.126486
Email               0.114897
Phone               0.119864
Address             0.104301
City                0.082116
State               0.093043
Zipcode             0.112579
Country             0.089732
Age                 0.057283
Gender              0.104963
Income              0.096023
Customer_Segment    0.071190
Date                0.118870
Year                0.115890
Month               0.090394
Time                0.115890
Total_Purchases     0.119532
Amount              0.118208
Total_Amount        0.115890
Product_Category    0.093706
Product_Brand       0.093043
Product_Type        0.000000
Feedback            0.060925
Shipping_Method     0.111586
Payment_Method      0.098341
Order_Status        0.077812
Ratings             0.060925
products            0.000000
dtype: float64

## Checking for Duplicate Records
Duplicate entries can distort analysis results. In this step, we check if the dataset contains duplicate rows and remove them if necessary to maintain data integrity.

In [91]:
df.duplicated().sum()

np.int64(4)

## Handling Missing Values
Some columns were found to contain null values. These incomplete rows were removed to maintain data quality and ensure reliable analysis.

In [92]:
df.dropna(inplace=True)

In [93]:
df.isnull().sum()

Transaction_ID      0
Customer_ID         0
Name                0
Email               0
Phone               0
Address             0
City                0
State               0
Zipcode             0
Country             0
Age                 0
Gender              0
Income              0
Customer_Segment    0
Date                0
Year                0
Month               0
Time                0
Total_Purchases     0
Amount              0
Total_Amount        0
Product_Category    0
Product_Brand       0
Product_Type        0
Feedback            0
Shipping_Method     0
Payment_Method      0
Order_Status        0
Ratings             0
products            0
dtype: int64

## Handling Duplicate Records
The dataset contained duplicate entries, which were removed to ensure each observation is unique and reliable.

In [94]:
df.drop_duplicates(inplace=True)

In [95]:
df.duplicated().sum()

np.int64(0)

## Converting Data Types
The date column was stored as an object. To ensure proper time-based analysis, it was converted into a datetime format.

In [96]:
df['Date'] = pd.to_datetime(df['Date'])

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 293908 entries, 0 to 302009
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Transaction_ID    293908 non-null  float64
 1   Customer_ID       293908 non-null  float64
 2   Name              293908 non-null  object
 3   Email             293908 non-null  object
 4   Phone             293908 non-null  float64
 5   Address           293908 non-null  object
 6   City              293908 non-null  object
 7   State             293908 non-null  object
 8   Zipcode           293908 non-null  float64
 9   Country           293908 non-null  object
 10  Age               293908 non-null  float64
 11  Gender            293908 non-null  object
 12  Income            293908 non-null  object
 13  Customer_Segment  293908 non-null  object
 14  Date              293908 non-null  datetime64[ns]
 15  Year              293908 non-null  float64
 16  Month             293908 non-null  object
 17  Time              293908 non-null  object
 18  Total_Purchases   293908 non-null  float64
 19  Amount            293908 non-null  float64
 20  Total_Amount      293908 non-null  float64
 21  Product_Category  293908 non-null  object
 22  Product_Brand     293908 non-null  object
 23  Product_Type      293908 non-null  object
 24  Feedback          293908 non-null  object
 25  Shipping_Method   293908 non-null  object
 26  Payment_Method    293908 non-null  object
 27  Order_Status      293908 non-null  object
 28  Ratings           293908 non-null  float64
 29  products          293908 non-null  object
dtypes: datetime64[ns](1), float64(10), object(19)
memory usage: 69.5+ MB

In [99]:
df.head()

,Transaction_ID,Customer_ID,Name,Email,Phone,Address,City,State,Zipcode,Country,Age,Gender,Income,Customer_Segment,Date,Year,Month,Time,Total_Purchases,Amount,Total_Amount,Product_Category,Product_Brand,Product_Type,Feedback,Shipping_Method,Payment_Method,Order_Status,Ratings,products
0,8691788.0,37249.0,Michelle Harrington,Ebony39@gmail.com,1.414787e+09,3959 Amanda Burgs,Dortmund,Berlin,77985.0,Germany,21.0,Male,Low,Regular,2023-09-18,2023.0,September,22:03:55,3.0,108.028757,324.086270,Clothing,Nike,Shorts,Excellent,Same-Day,Debit Card,Shipped,5.0,Cycling shorts
1,2174773.0,69749.0,Kelsey Hill,Mark36@gmail.com,6.852900e+09,82072 Dawn Centers,Nottingham,England,99071.0,UK,19.0,Female,Low,Premium,2023-12-31,2023.0,December,08:42:04,2.0,403.353907,806.707815,Electronics,Samsung,Tablet,Excellent,Standard,Credit Card,Processing,4.0,Lenovo Tab
2,6679610.0,30192.0,Scott Jensen,Shane85@gmail.com,8.362160e+09,4133 Young Canyon,Geelong,New South Wales,75929.0,Australia,48.0,Male,Low,Regular,2023-04-26,2023.0,April,04:06:29,3.0,354.477600,1063.432799,Books,Penguin Books,Children's,Average,Same-Day,Credit Card,Processing,2.0,Sports equipment
3,7232460.0,62101.0,Joseph Miller,Mary34@gmail.com,2.776752e+09,8148 Thomas Creek Suite 100,Edmonton,Ontario,88420.0,Canada,56.0,Male,High,Premium,2023-05-08,2023.0,May,14:55:17,7.0,352.407717,2466.854021,Home Decor,Home Depot,Tools,Excellent,Standard,PayPal,Processing,4.0,Utility knife
4,4983775.0,27901.0,Debra Coleman,Charles30@gmail.com,9.098268e+09,5813 Lori Ports Suite 269,Bristol,England,48704.0,UK,22.0,Male,Low,Premium,2024-01-10,2024.0,January,16:54:07,2.0,124.276524,248.553049,Grocery,Nestle,Chocolate,Bad,Standard,Cash,Shipped,1.0,Chocolate cookies

## Creating the RFM Dataset
A new RFM dataset was generated by calculating Recency, Frequency, and Monetary values for each customer. This dataset will be used for RFM analysis to evaluate customer behavior and segmentation.

In [102]:
reference_date = df['Date'].max() + timedelta(days=1)
reference_date

Timestamp('2024-03-01 00:00:00')

In [103]:
rfm = df.groupby('Customer_ID').agg({
    'Date': lambda x: (reference_date - x.max()).days,
    'Transaction_ID' : 'count',
    'Total_Amount' : 'sum'
})

In [104]:
rfm.head()

             Date  Transaction_ID  Total_Amount
Customer_ID
10000.0       103               4   5007.566357
10001.0       105               5   8136.462824
10002.0        95               5   4104.013951
10003.0       228               2   2340.496447
10004.0        31               2   2356.516683

In [105]:
rfm.rename(columns={'Date' : 'Recency',
                    'Transaction_ID' : 'Frequency',
                    'Total_Amount' : 'Monetary'}, inplace=True)

In [106]:
rfm.head()

             Recency  Frequency     Monetary
Customer_ID
10000.0          103          4  5007.566357
10001.0          105          5  8136.462824
10002.0           95          5  4104.013951
10003.0          228          2  2340.496447
10004.0           31          2  2356.516683

## Saving the Cleaned Dataset
The cleaned and processed dataset was saved for further analysis and modeling.

In [111]:
df.to_csv('../data/processed/retail_data_cleaned.csv')

In [113]:
df.to_pickle('../data/processed/pkl_retail_data_cleaned.pkl')

In [115]:
rfm.to_csv('../data/processed/rfm_data.csv')

In [116]:
rfm.to_pickle('../data/processed/pkl_rfm_data.pkl')